# Time Series Aquire Exercises

### imports

In [44]:
import pandas as pd
import requests
import os

#### 1. Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [2]:
base_url = 'https://python.zach.lol'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [3]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [4]:
response = requests.get('https://python.zach.lol/api/v1/items')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [5]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [6]:
data['payload']['items']

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'},
 {'item_brand': 'Earths Best',
  'item_id': 3,
  'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
  'item_price': 2.43,
  'item_upc12': '23923330139',
  'item_upc14': '23923330139'},
 {'item_brand': 'Boars Head',
  'item_id': 4,
  'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
  'item_price': 3.14,
  'item_upc12': '208528800007',
  'item_upc14': '208528800007'},
 {'item_brand': 'Back To Nature',
  'item_id': 5,
  'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
  'item_price': 2.61,
  'item_upc12': '759283100036',
  'item_upc14': '759283100036'},
 {'item_brand': 'Sally Hansen',
  'item_id': 6,
  'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
  'item_price': 6.93,
  'item_upc12': '74170388732',
  'item_upc14': '74170388732'},
 {'item_brand': 'Twinings Of London',
  'item_id': 7,
  'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
  'item_price': 9.64,
  'item_upc12': '70177154004',
  'item_upc14': '70177154004'},
 {'item_brand': 'Lea & Perrins',
  'item_id': 8,
  'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
  'item_price': 1.68,
  'item_upc12': '51600080015',
  'item_upc14': '51600080015'},
 {'item_brand': 'Van De Kamps',
  'item_id': 9,
  'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
  'item_price': 1.79,
  'item_upc12': '19600923015',
  'item_upc14': '19600923015'},
 {'item_brand': 'Ahold',
  'item_id': 10,
  'item_name': 'Ahold Cocoa Almonds',
  'item_price': 3.17,
  'item_upc12': '688267141676',
  'item_upc14': '688267141676'},
 {'item_brand': 'Honest Tea',
  'item_id': 11,
  'item_name': 'Honest Tea Peach White Tea',
  'item_price': 3.93,
  'item_upc12': '657622604842',
  'item_upc14': '657622604842'},
 {'item_brand': 'Mueller',
  'item_id': 12,
  'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
  'item_price': 8.4,
  'item_upc12': '74676640211',
  'item_upc14': '74676640211'},
 {'item_brand': 'Garnier Nutritioniste',
  'item_id': 13,
  'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
  'item_price': 6.47,
  'item_upc12': '603084234561',
  'item_upc14': '603084234561'},
 {'item_brand': 'Pamprin',
  'item_id': 14,
  'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
  'item_price': 7.54,
  'item_upc12': '41167300121',
  'item_upc14': '41167300121'},
 {'item_brand': 'Suave',
  'item_id': 15,
  'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
  'item_price': 9.11,
  'item_upc12': '79400847201',
  'item_upc14': '79400847201'},
 {'item_brand': 'Burts Bees',
  'item_id': 16,
  'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
  'item_price': 5.17,
  'item_upc12': '792850014008',
  'item_upc14': '792850014008'},
 {'item_brand': 'Ducal',
  'item_id': 17,
  'item_name': 'Ducal Refried Red Beans',
  'item_price': 1.16,
  'item_upc12': '88313590791',
  'item_upc14': '88313590791'},
 {'item_brand': 'Scotch',
  'item_id': 18,
  'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
  'item_price': 4.39,
  'item_upc12': '21200725340',
  'item_upc14': '21200725340'},
 {'item_brand': 'Careone',
  'item_id': 19,
  'item_name': 'Careone Family Comb Set - 8 Ct',
  'item_price': 0.74,
  'item_upc12': '41520035646',
  'item_upc14': '41520035646'},
 {'item_brand': 'Usda Produce',
  'item_id': 20,
  'item_name': 'Plums Black',
  'item_price': 5.62,
  'item_upc12': '204040000000',
  'item_upc14': '204040000000'}]

In [ ]:
items_list = []

response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()
n = data['payload']['max_page']

for i in range(1,n+1):
    url = 'https://python.zach.lol/api/v1/items?page='+str(i)
    response = requests.get(url)
    data = response.json()
    page_items = data['payload']['items']
    items_list.append(page_items)

In [21]:
#function to acquire items, store, and sales
def get_items(whatyouneed, cached=False):
    if cached == False:
        listy_list = []
        base_url = "https://python.zach.lol"
        api_thing = base_url + '/api/v1/'
        response = requests.get(api_thing + whatyouneed) 
        data = response.json()
        n = data['payload']['max_page']
        
        for i in range(1, n+1):
            new_url = api_thing + '?page=' + str(i)
            response = requests.get(new_url) 
            page_items = data['payload'][whatyouneed]
            listy_list += page_items
            
        whatyouneed = pd.DataFrame(listy_list)
        whatyouneed.to_csv('whatyouneed.csv')
            
    else:
        whatyouneed = pd.read_csv('whatyouneed.csv', index_col=0)
    
    return whatyouneed

In [28]:
items_df = get_items('items', cached=False)

In [29]:
items_df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [30]:
items_df.shape

(60, 6)

#### 2. Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)

In [34]:
stores_df = get_items('stores', cached=False)
stores_df.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [32]:
stores_df.shape

(10, 5)

#### 3. Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [35]:
sales_df = get_items('sales', cached=False)

In [36]:
sales_df.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [37]:
sales_df.shape

(915000, 5)

#### 4. Save the data in your files to local csv files so that it will be faster to access in the future.

#### 5. Combine the data from your three separate dataframes into one large dataframe.

In [38]:

df = pd.merge(sales_df, stores_df, left_on='store', right_on='store_id').drop(columns={'store'})

In [39]:
df.head()

,item,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [40]:
df = pd.merge(df, items_df, left_on='item', right_on='item_id').drop(columns={'item'})

In [41]:
df.head()

,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

#### 6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [50]:
def get_germany():
    if os.path.isfile('opsd_germany_daily.csv'):
        df = pd.read_csv('opsd_germany_daily.csv', index_col=0)
    else:
        df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
        df.to_csv('opsd_germany_daily.csv')
        df.head()
    return df

In [51]:
germany = get_germany()

In [53]:
germany.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

#### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
# matthews original function

def get_items(cached=False):
    if cached == False:
        items_list = []
        url = "https://python.zach.lol/api/v1/items"
        response = requests.get(url)
        data = response.json()
        n = data['payload']['max_page']
        
        for i in range(1, n+1):
            new_url = url + '?page=' + str(i)
            response = requests.get(new_url)
            data = response.json()
            page_items = data['payload']['items']
            items_list += page_items
            
        items = pd.DataFrame(items_list)
        items.to_csv('items.csv')
            
    else:
        items = pd.read_csv('items.csv', index_col=0)
    
    return items

In [54]:
#matthews rework of my function, not quite working yet
def get_whatyouneed(whatyouneed, cached=False):
    if cached == False:
        listy_list = []
        base_url = "https://python.zach.lol"
        api_thing = base_url + '/api/v1/'
        response = requests.get(api_thing + whatyouneed) 
        data = response.json()
        n = data['payload']['max_page']
        for i in range(1, n+1):
            new_url = api_thing + '?page=' + str(i)
            response = requests.get(new_url) 
            page_items = data['payload'][whatyouneed]
            listy_list += page_items
        whatyouneed = pd.DataFrame(listy_list)
        whatyouneed.to_csv(f'{whatyouneed}.csv')
    else:
        whatyouneed = pd.read_csv(f'{whatyouneed}.csv', index_col=0)
    return whatyouneed

In [55]:
itemz = get_whatyouneed('items', cached=False)
itemz.head()

OSError: [Errno 63] File name too long: '               item_brand  item_id  \\\n0                Riceland        1   \n1                  Caress        2   \n2             Earths Best        3   \n3              Boars Head        4   \n4          Back To Nature        5   \n5            Sally Hansen        6   \n6      Twinings Of London        7   \n7           Lea & Perrins        8   \n8            Van De Kamps        9   \n9                   Ahold       10   \n10             Honest Tea       11   \n11                Mueller       12   \n12  Garnier Nutritioniste       13   \n13                Pamprin       14   \n14                  Suave       15   \n15             Burts Bees       16   \n16                  Ducal       17   \n17                 Scotch       18   \n18                Careone       19   \n19           Usda Produce       20   \n20               Riceland        1   \n21                 Caress        2   \n22            Earths Best        3   \n23             Boars Head        4   \n24         Back To Nature        5   \n25           Sally Hansen        6   \n26     Twinings Of London        7   \n27          Lea & Perrins        8   \n28           Van De Kamps        9   \n29                  Ahold       10   \n30             Honest Tea       11   \n31                Mueller       12   \n32  Garnier Nutritioniste       13   \n33                Pamprin       14   \n34                  Suave       15   \n35             Burts Bees       16   \n36                  Ducal       17   \n37                 Scotch       18   \n38                Careone       19   \n39           Usda Produce       20   \n40               Riceland        1   \n41                 Caress        2   \n42            Earths Best        3   \n43             Boars Head        4   \n44         Back To Nature        5   \n45           Sally Hansen        6   \n46     Twinings Of London        7   \n47          Lea & Perrins        8   \n48           Van De Kamps        9   \n49                  Ahold       10   \n50             Honest Tea       11   \n51                Mueller       12   \n52  Garnier Nutritioniste       13   \n53                Pamprin       14   \n54                  Suave       15   \n55             Burts Bees       16   \n56                  Ducal       17   \n57                 Scotch       18   \n58                Careone       19   \n59           Usda Produce       20   \n\n                                            item_name  item_price  \\\n0                      Riceland American Jazmine Rice        0.84   \n1   Caress Velvet Bliss Ultra Silkening Beauty Bar...        6.44   \n2   Earths Best Organic Fruit Yogurt Smoothie Mixe...        2.43   \n3    Boars Head Sliced White American Cheese - 120 Ct        3.14   \n4   Back To Nature Gluten Free White Cheddar Rice ...        2.61   \n5   Sally Hansen Nail Color Magnetic 903 Silver El...        6.93   \n6   Twinings Of London Classics Lady Grey Tea - 20 Ct        9.64   \n7   Lea & Perrins Marinade In-a-bag Cracked Pepper...        1.68   \n8          Van De Kamps Fillets Beer Battered - 10 Ct        1.79   \n9                                 Ahold Cocoa Almonds        3.17   \n10                         Honest Tea Peach White Tea        3.93   \n11  Mueller Sport Care Basic Support Level Medium ...        8.40   \n12  Garnier Nutritioniste Moisture Rescue Fresh Cl...        6.47   \n13  Pamprin Maximum Strength Multi-symptom Menstru...        7.54   \n14  Suave Naturals Moisturizing Body Wash Creamy T...        9.11   \n15      Burts Bees Daily Moisturizing Cream Sensitive        5.17   \n16                            Ducal Refried Red Beans        1.16   \n17    Scotch Removable Clear Mounting Squares - 35 Ct        4.39   \n18                     Careone Family Comb Set - 8 Ct        0.74   \n19                                        Plums Black        5.62   \n20                     Riceland American Jazmine Rice        0.84   \n21  Caress Velvet Bliss Ultra Silkening Beauty Bar...        6.44   \n22  Earths Best Organic Fruit Yogurt Smoothie Mixe...        2.43   \n23   Boars Head Sliced White American Cheese - 120 Ct        3.14   \n24  Back To Nature Gluten Free White Cheddar Rice ...        2.61   \n25  Sally Hansen Nail Color Magnetic 903 Silver El...        6.93   \n26  Twinings Of London Classics Lady Grey Tea - 20 Ct        9.64   \n27  Lea & Perrins Marinade In-a-bag Cracked Pepper...        1.68   \n28         Van De Kamps Fillets Beer Battered - 10 Ct        1.79   \n29                                Ahold Cocoa Almonds        3.17   \n30                         Honest Tea Peach White Tea        3.93   \n31  Mueller Sport Care Basic Support Level Medium ...        8.40   \n32  Garnier Nutritioniste Moisture Rescue Fresh Cl...        6.47   \n33  Pamprin Maximum Strength Multi-symptom Menstru...        7.54   \n34  Suave Naturals Moisturizing Body Wash Creamy T...        9.11   \n35      Burts Bees Daily Moisturizing Cream Sensitive        5.17   \n36                            Ducal Refried Red Beans        1.16   \n37    Scotch Removable Clear Mounting Squares - 35 Ct        4.39   \n38                     Careone Family Comb Set - 8 Ct        0.74   \n39                                        Plums Black        5.62   \n40                     Riceland American Jazmine Rice        0.84   \n41  Caress Velvet Bliss Ultra Silkening Beauty Bar...        6.44   \n42  Earths Best Organic Fruit Yogurt Smoothie Mixe...        2.43   \n43   Boars Head Sliced White American Cheese - 120 Ct        3.14   \n44  Back To Nature Gluten Free White Cheddar Rice ...        2.61   \n45  Sally Hansen Nail Color Magnetic 903 Silver El...        6.93   \n46  Twinings Of London Classics Lady Grey Tea - 20 Ct        9.64   \n47  Lea & Perrins Marinade In-a-bag Cracked Pepper...        1.68   \n48         Van De Kamps Fillets Beer Battered - 10 Ct        1.79   \n49                                Ahold Cocoa Almonds        3.17   \n50                         Honest Tea Peach White Tea        3.93   \n51  Mueller Sport Care Basic Support Level Medium ...        8.40   \n52  Garnier Nutritioniste Moisture Rescue Fresh Cl...        6.47   \n53  Pamprin Maximum Strength Multi-symptom Menstru...        7.54   \n54  Suave Naturals Moisturizing Body Wash Creamy T...        9.11   \n55      Burts Bees Daily Moisturizing Cream Sensitive        5.17   \n56                            Ducal Refried Red Beans        1.16   \n57    Scotch Removable Clear Mounting Squares - 35 Ct        4.39   \n58                     Careone Family Comb Set - 8 Ct        0.74   \n59                                        Plums Black        5.62   \n\n      item_upc12    item_upc14  \n0    35200264013   35200264013  \n1    11111065925   11111065925  \n2    23923330139   23923330139  \n3   208528800007  208528800007  \n4   759283100036  759283100036  \n5    74170388732   74170388732  \n6    70177154004   70177154004  \n7    51600080015   51600080015  \n8    19600923015   19600923015  \n9   688267141676  688267141676  \n10  657622604842  657622604842  \n11   74676640211   74676640211  \n12  603084234561  603084234561  \n13   41167300121   41167300121  \n14   79400847201   79400847201  \n15  792850014008  792850014008  \n16   88313590791   88313590791  \n17   21200725340   21200725340  \n18   41520035646   41520035646  \n19  204040000000  204040000000  \n20   35200264013   35200264013  \n21   11111065925   11111065925  \n22   23923330139   23923330139  \n23  208528800007  208528800007  \n24  759283100036  759283100036  \n25   74170388732   74170388732  \n26   70177154004   70177154004  \n27   51600080015   51600080015  \n28   19600923015   19600923015  \n29  688267141676  688267141676  \n30  657622604842  657622604842  \n31   74676640211   74676640211  \n32  603084234561  603084234561  \n33   41167300121   41167300121  \n34   79400847201   79400847201  \n35  792850014008  792850014008  \n36   88313590791   88313590791  \n37   21200725340   21200725340  \n38   41520035646   41520035646  \n39  204040000000  204040000000  \n40   35200264013   35200264013  \n41   11111065925   11111065925  \n42   23923330139   23923330139  \n43  208528800007  208528800007  \n44  759283100036  759283100036  \n45   74170388732   74170388732  \n46   70177154004   70177154004  \n47   51600080015   51600080015  \n48   19600923015   19600923015  \n49  688267141676  688267141676  \n50  657622604842  657622604842  \n51   74676640211   74676640211  \n52  603084234561  603084234561  \n53   41167300121   41167300121  \n54   79400847201   79400847201  \n55  792850014008  792850014008  \n56   88313590791   88313590791  \n57   21200725340   21200725340  \n58   41520035646   41520035646  \n59  204040000000  204040000000  .csv'