# Time Series Data Prep Lesson

In [1]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

import acquire

In [ ]:
#acquire dataframe from module
df = acquire.get_store_data(cached=False)

In [ ]:
#check out the dataframe
df.head()

In [ ]:
#check out the shape of the datframe
df.shape

In [ ]:
#look at the null count and datatype of the columns
df.info()

In [ ]:
#ensure the columns dropped
df.head()

## Store Items Exercises

### 1. Convert date column to datetime format.

In [ ]:
df = pd.read_csv('store_data.csv')

In [ ]:
#drop the other upc columns we wont be using
df.drop(columns= ['item_upc12', 'item_upc14', 'Unnamed: 0'], inplace=True)

In [ ]:
# Reassign the sale_date column to be a datetime type
df.sale_date = pd.to_datetime(df.sale_date)

In [ ]:
df.info()

### 2. Plot the distribution of sale_amount and item_price.

In [ ]:
#countplot of item price
sns.countplot(df.sale_amount)

In [ ]:
#distribution of sale amount
sale_amount=df['sale_amount'].dropna()
sns.distplot(sale_amount)         
plt.show()

In [ ]:
#countplot of item price
sns.countplot(df.item_price)

In [ ]:
#distribution of item price
item_price=df['item_price'].dropna()
sns.distplot(item_price)         
plt.show()

### 4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
#moved 4 before 3 since you can only use the column to convert to month and date before setting the index
df['month'] = df.sale_date.dt.month
df['day'] = df.sale_date.dt.month

### 3. Set the index to be the datetime variable.

In [ ]:
# Sort rows by the date and then set the index as that date
df = df.set_index("sale_date").sort_index()

In [ ]:
df.head()

In [ ]:
df.shape[0], df.sale_id.nunique()

### 5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
df['sales_total'] = df.sale_amount * df.item_price

### 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [ ]:
#prepare.py module

def prep_sales_data():
    '''
    This function will use the store_data dataframe from the acquire.py module function
    "get_store_data" and prepare it to be explored.  This function will:
    - grab get_store_data df from acquire
    - drop columns we wont be using
    - change sale_date to date/time format
    - create month and day of the week columns
    - set time/date as index
    - create a sale_total column
    '''
    df = acquire.get_store_data(cached=True)
    #drop the other upc columns we wont be using
    df.drop(columns= ['item_upc12', 'item_upc14'], inplace=True)
    #converts sale_date from object to date/time format
    df.sale_date = pd.to_datetime(df.sale_date)
    #set the date to the index
    df = df.set_index('sale_date').sort_index()
    #remove time signature
    df.index = df.index.tz_localize(None)
    #add new features
    df['month'] = df.index.month
    df['day_of_week'] = df.index.day_name()
    df['sales_total'] = df.sale_amount * df.item_price
    
    return df

In [10]:
# function to plot the histograms for store data.

def store_histplots(df):
    sale_amount=df['sale_amount'].dropna()
    sns.distplot(sale_amount, color = 'green')         
    plt.show
    
    item_price=df['item_price'].dropna()
    sns.distplot(item_price, color = 'blue')         
    plt.show()

In [11]:
store_histplots()

KeyError: 'sale_amount'

In [ ]:
df = prep_sales_data()

In [ ]:
df.info()

In [ ]:
df.head()

### Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:

In [2]:
df = acquire.get_germany()

In [3]:
df.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

### 1. Convert date column to datetime format.

In [5]:
df.Date = pd.to_datetime(df.Date)

### 2.  Plot the distribution of each of your variables.

### 3. Set the index to be the datetime variable.

In [ ]:
df.set_index('Date').sort_index()

### 4. Add a month and a year column to your dataframe.

In [ ]:
df['month'] = df.index.month_name()     
df['year'] = df.index.year

### 5. Fill any missing values.

In [ ]:
df = df.fillna(df.mean())

### 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [ ]:
# prepare germany